@import "tailwindcss";

@theme {
  --font-sans: "Raleway", sans-serif;

  --spacing-3.75: 0.9375rem;   /* 15px */
  --spacing-7.5: 1.875rem;     /* 30px */
  --spacing-15.25: 3.8125rem;  /* 61px */
  --spacing-16.25: 4.0625rem;  /* 65px */
  --spacing-17: 4.25rem;       /* 68px */
  --spacing-18.75: 4.6875rem;  /* 75px */
  --spacing-23: 5.75rem;       /* 92px */
  --spacing-25: 6.25rem;       /* 100px */
  --spacing-26.5: 6.625rem;    /* 106px */
  --spacing-28.5: 7.125rem;    /* 114px */
  --spacing-30: 7.5rem;        /* 120px */
  --spacing-32.5: 8.125rem;    /* 130px */
  --spacing-41.75: 10.4375rem; /* 167px */
  --spacing-47.5: 11.875rem;   /* 190px */
  --spacing-49.25: 12.3125rem; /* 197px */
  --spacing-60.75: 15.1875rem; /* 243px */
  --spacing-66.25: 16.5625rem; /* 265px */
  --spacing-75.75: 18.9375rem; /* 258px */
  --spacing-79.5: 19.875rem;   /* 318px */
  --spacing-87.5: 21.875rem;   /* 350px */
  --spacing-96.25: 24.0625rem; /* 385px */
  --spacing-102.5: 25.625rem;  /* 410px */
  --spacing-102: 25.5rem;      /* 408px */
  --spacing-119.5: 29.875rem;  /* 478px */
  --spacing-120: 30rem;        /* 480px */
  --spacing-129: 32.25rem;     /* 516px */
  --spacing-136.5: 34.125rem;  /* 546px */
  --spacing-140.75: 35.1875rem;/* 563px */
  --spacing-161.5: 40.375rem;  /* 646px */
  --spacing-165: 41.25rem;     /* 660px */
  --spacing-176.25: 44.0625rem;/* 705px */
  --spacing-201.5: 50.375rem;  /* 806px */
  --spacing-206.75: 51.6875rem;/* 827px */
  --spacing-277.5: 69.375rem;  /* 1110px */
}
